.thoughtForm {
  text-align: center;
}

.thoughtTextarea {
  min-width: 500px;
  min-height: 200px;
  font-size: 20px;
}

.thoughtTextarea:focus {
    outline: none !important;
    border: 1px solid #133b5c;
    box-shadow: 0 0 4px #133b5c;
}

.thoughtBtn {
  /* width: 300px; */
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  /* box-sizing: border-box; */
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000000;
  background-color: white;
  transition: all 0.2s;
}

.thoughtBtn:hover {
  color: #ffffff;
  background-color: #133b5c;
}
